Source: pve2-api-doc
Section: doc
Priority: extra
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 7.0.50~), pve-manager (= 4.0-27)
Standards-Version: 3.8.4

Package: pve2-api-doc
Architecture: all
Depends: ${misc:Depends}
Description: Proxmox VE API documentation
 Contains the Proxmox VE API documentation viewer (ExtJS application).
